<% include ./partials/header %>

<div class="body-wrap">

  <div class="container">
    <div class="header text-right">
      <a href="#" class="btn btn-primary compare-link">Compare</a>
    </div>
  </div>  

  <div class="container">
    <div class="page-header">
      <h1 class="text-center">Scrape Results</h1>
    </div>
  </div>

  <div class="container">
    <div class="row box-list">     
      <% _.forEach(plans, function(plan) { %>
        <div class="col-sm-3">
            <a href="/result/<%= plan._id %>">
              <div class="box">
                  
                  <div><%= moment(plan.createdAt).format('MMM Do YYYY') %></div>
                  <div><%= moment(plan.createdAt).format('h:mm:ss a') %></div>
              </div>

              <div class="compare">
                <label class="csscheckbox csscheckbox-primary"><input type="checkbox" value="<%= plan._id %>"><span></span></label>
              </div>
            </a>
        </div>
      <% }) %>
    </div>
  </div>

</div><!-- .body-wrap -->

<div class="container container-footer" style="margin-top: 50px;">
  <div class="row">
    <div class="col-sm-12">
      <form action="/scrape" method="POST"> 
        <input type="submit" value="Scrape">
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/plans-compare.js"></script>    
<% include ./partials/footer %>
